*{
    margin: 0px;
    padding: 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
   .nav-close{
position: absolute;
right: 20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left:-70px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.main_container{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    width: 100vw;
}  
.container_1{
   margin-left: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container_1 span{
    
    color: rgb(53, 63, 198);
}
.side-bar-container{
    position: absolute;
    top: 30%;
    
}

.text_container span{
    font-size: 1px;
    color: #f1f1f1;
}

.text_container {

    text-align: center;
    display: none;

}
.container-text-nav{
    position: absolute;
    left: 4rem;
    font-size: 20px;
}
